 <!-- Lesson Policy Modal -->
    <div class="portfolio-modal modal fade" id="policyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Lesson Policy</h2>
                            <hr class="star-primary">
                            <h3>Make-up Lessons</h3>
                            <ul>
                              <li>
                                Students may reschedule up to two (2) lessons per semester.  <u>UWS Piano School must receive notice of the scheduling conflict at least twenty-four (24) hours in advance.</u>  If not, rescheduling is not guaranteed and there will be no refund for missed lessons. Make-up lessons will not be rescheduled. Exceptions will be made for family emergencies.
                              </li>
                            </ul>
                            <h3>Lesson Termination and Cancellation Policy</h3>
                            <ul>
                              <li>
                                If a student wishes to cancel future lessons, UWS Piano School requires notification one (1) month in advance.  Failure to do so will result in the loss of a months tuition fees for the student.
                              </li>
                              <li>
                                If the student’s registration was waived via the per semester payment plan, the $60 registration fee will be deducted before the remaining account balance is refunded.
                              </li>
                            </ul>
                            <h3>Teacher Cancellations</h3>
                            <ul>
                              <li>
                                If a lesson is cancelled due to teacher conflict or illness, UWS Piano School will first attempt to reschedule the lesson with the student.  If no rescheduling date can be agreed upon, UWS Piano School will refund the full amount of the lesson.
                              </li>
                            </ul>
                            <h3>Inclement Weather</h3>
                            <ul>
                              <li>
                                If the New York City Public School system closes due to whether emergencies, UWS Piano School will offer online lessons via Skype or FaceTime during normal lesson hours.  If difficulties arise, make-up lessons will be scheduled.
                              </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
