<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rates</h2>
                    <h3 class="section-subheading text-muted">Lessons suited for everyone!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Beginner</h4>
                    <p class="text-muted">No experience? No problem! Get started today!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Intermediate</h4>
                    <p class="text-muted">Looking to improve your skills? Keep getting better and better!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Advanced</h4>
                    <p class="text-muted">Turn things up to 11 and learn to play like a pro!</p>
                </div>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">30 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost warning-bg"><strong>$ 50</strong></div>
                  <div class="price_table_row">Stomp on the keys</div>
                  <div class="price_table_row">Use hands and feet</div>
                  <div class="price_table_row">Learn the classics</div>
                  <div class="price_table_row">Establish up vs down</div>
                </div>
                <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">45 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost primary-bg"><strong>$ 60</strong></div>
                  <div class="price_table_row">Warm up and finger exercises</div>
                  <div class="price_table_row">Rudiments and stuff</div>
                  <div class="price_table_row">Full pieces of magic</div>
                  <div class="price_table_row">Improve those skills</div>
                </div>
                <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="recommended"><strong><i class="fa fa-heart" aria-hidden="true"></i> RECOMMENDED</strong></div>
              <div class="price_table_container">
                <div class="price_table_heading">60 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost success-bg"><strong>$ 70</strong></div>
                  <div class="price_table_row">Complete p90x</div>
                  <div class="price_table_row">Play duets with instructor</div>
                  <div class="price_table_row">Get even better</div>
                  <div class="price_table_row">Impress your friends</div>
                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">90 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost info-bg"><strong>$ 80</strong></div>
                  <div class="price_table_row">Harder workout than CrossFit</div>
                  <div class="price_table_row">Take it to the max!</div>
                  <div class="price_table_row">...</div>
                  <div class="price_table_row">Profit</div>
                </div>
                <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
    </section>
