<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rates</h2>
                    <h3 class="section-subheading text-muted">Lessons suited for everyone!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 in-studio-button">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">in-studio lessons</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4 in-home-button">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">in-home lessons</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4 online-button">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">online lessons</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>

        <div class="container in-studio-rates" style="display:none;">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">30 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost info-bg"><strong>$ 60</strong></div>
                  <!--<div class="price_table_row">Stomp on the keys</div>
                  <div class="price_table_row">Use hands and feet</div>
                  <div class="price_table_row">Learn the classics</div>
                  <div class="price_table_row">Establish up vs down</div>-->
                </div>
                <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">45 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost primary-bg"><strong>$ 90</strong></div>
                  <!--<div class="price_table_row">Warm up and finger exercises</div>
                  <div class="price_table_row">Rudiments and stuff</div>
                  <div class="price_table_row">Full pieces of magic</div>
                  <div class="price_table_row">Improve those skills</div>-->
                </div>
                <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">60 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost success-bg"><strong>$ 120</strong></div>
                  <!--<div class="price_table_row">Complete p90x</div>
                  <div class="price_table_row">Play duets with instructor</div>
                  <div class="price_table_row">Get even better</div>
                  <div class="price_table_row">Impress your friends</div>-->
                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
              </div>
            </div>
          </div>
        </div>

        <div class="container in-home-rates" style="display:none;">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">30 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost primary-bg"><strong>$ 70</strong></div>
                  <!--<div class="price_table_row">Stomp on the keys</div>
                  <div class="price_table_row">Use hands and feet</div>
                  <div class="price_table_row">Learn the classics</div>
                  <div class="price_table_row">Establish up vs down</div>-->
                </div>
                <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">45 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost success-bg"><strong>$ 100</strong></div>
                  <!--<div class="price_table_row">Warm up and finger exercises</div>
                  <div class="price_table_row">Rudiments and stuff</div>
                  <div class="price_table_row">Full pieces of magic</div>
                  <div class="price_table_row">Improve those skills</div>-->
                </div>
                <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                <div class="price_table_heading">60 Minute Lesson</div>
                <div class="price_table_body">
                  <div class="price_table_row cost info-bg"><strong>$ 130</strong></div>
                  <!--<div class="price_table_row">Complete p90x</div>
                  <div class="price_table_row">Play duets with instructor</div>
                  <div class="price_table_row">Get even better</div>
                  <div class="price_table_row">Impress your friends</div>-->
                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
              </div>
            </div>
          </div>
        </div>

        <div class="container online-rates" style="display:none;">
          <div class="row">
            <p>
              Online lessons via Skype or FaceTime are only available to current students unable to attend their lesson due to inclement weather or travel.
            </p>
          </div>
        </div>
    </section>
