<!-- Studio Section -->
    <section id="studio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Studio</h2>
                    <h3 class="section-subheading text-muted">Our beautiful studio is conveniently located at 123 West 71st St. on the second floor of Grace and St. Paul’s Church.  It has a well-maintained Steinway grand piano, an extensive music library and a comfortable waiting area.  It’s a block and a half from Central Park, with an abundance of cafés and eateries nearby.</h3>
                    <h3 class="section-subheading text-muted">Accessible by the:
                      <img class="img-circle" src="img/studio/1-train.png" alt="">
                      <img class="img-circle" src="img/studio/2-train.png" alt="">
                      <img class="img-circle" src="img/studio/3-train.png" alt="">
                      <img class="img-circle" src="img/studio/b-train.png" alt="">
                      <img class="img-circle" src="img/studio/c-train.png" alt="">
                      <a href="https://www.google.com/maps/place/UWS+Piano+School/@40.7773072,-73.9800966,15z/data=!4m5!3m4!1s0x0:0xefbd4bf5cd035162!8m2!3d40.7773072!4d-73.9800966">View Google Business Page</a>
                    </h3>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <img class="img-circle img-responsive" src="img/studio/piano-studio-1.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4 class="section-heading">Location:</h4>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <div class="google-maps">
                          <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1302.250722961611!2d-73.98044805426214!3d40.77721547825633!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xefbd4bf5cd035162!2sUWS+Piano+School!5e0!3m2!1sen!2sus!4v1502988916132"
                            width="200"
                            height="200"
                            frameborder="0"
                            style="border:0"
                            allowfullscreen>
                          </iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
