<!-- Studio Section -->
    <section id="studio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Studio</h2>
                    <h3 class="section-subheading text-muted">A pretty cool place indeed. It has a red door!</h3>
                </div>

            </div>
            <div class="row">
              <img class="img-circle img-responsive" src="img/piano-studio-placeholder.jpg" alt="">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Location:</h4>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <div class="google-maps">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d377.6638566780529!2d-73.98018933516737!3d40.777187946451555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588a5498a459%3A0xff70e92ae439927!2sGrace+%26+St+Paul&#39;s+Church!5e0!3m2!1sen!2sus!4v1487728689969"
                    width="600"
                    height="450"
                    frameborder="0"
                    style="border:0"
                    allowfullscreen>
                  </iframe>
                </div>
              </div>
            </div>
        </div>
    </section>
