<!-- Studio Section -->
    <section id="studio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Studio</h2>
                    <h3 class="section-subheading text-muted">A pretty cool place indeed. It has a red door!</h3>
                </div>

            </div>
            <div class="row">
              <img class="img-circle img-responsive" src="img/piano-studio-placeholder.jpg" alt="">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Location:</h4>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <style>
                    .google-maps {
                        position: relative;
                        padding-bottom: 75%; // This is the aspect ratio
                        height: 0;
                        overflow: hidden;
                    }
                    .google-maps iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100% !important;
                        height: 100% !important;
                    }
                </style>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d952.7536665245632!2d-73.98098360667282!3d40.7771596262632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588a5498a459%3A0xff70e92ae439927!2sGrace+%26+St+Paul&#39;s+Church!5e0!3m2!1sen!2sus!4v1487727222839"
                  width="600"
                  height="450"
                  frameborder="0"
                  style="border:0"
                  allowfullscreen>
                </iframe>
              </div>
            </div>
        </div>
    </section>
